# ----------------------------
# Сборочные каталоги
# ----------------------------
build/
build-*/
cmake-build-*/
*/build/
*/build-*/
*/cmake-build-*/

# ----------------------------
# Файлы и каталоги CMake
# ----------------------------
CMakeCache.txt
CMakeFiles/
CTestTestfile.cmake
cmake_install.cmake
install_manifest.txt
compile_commands.json
Testing/
Makefile

# ----------------------------
# Qt Creator
# ----------------------------
*.pro.user
*.pro.user.*
*.creator
*.creator.user
*.creator.user.*
*.files
*.includes
*.autosave
*.qbs.user

# ----------------------------
# Автогенерация Qt
# ----------------------------
moc_*.cpp
ui_*.h
qrc_*.cpp

# ----------------------------
# Бинарные файлы и артефакты сборки
# ----------------------------
*.exe
*.dll
*.lib
*.a
*.so
*.o
*.obj
*.pdb
*.ilk

# ----------------------------
# Типовые каталоги сборки в Windows
# ----------------------------
Debug/
Release/
x64/
x86/

# ----------------------------
# Временные и служебные файлы
# ----------------------------
*.log
*.tmp

# Qt Creator
*.pro.user
*.pro.user.*
*.creator
*.creator.user
*.creator.user.*
*.files
*.includes
*.autosave
*.qbs.user
*.user
*.user.*